<%- include('includes/head') %>

<nav>
  <div class="nav-brand"><a href="/">Agenda de Contatos</a><span></span></div>
</nav>

<div class="container">
  <h1>ERROR 404</h1>
  <h2>Page not found!</h2>
</div>

<%- include('includes/footer') %>